body {
    padding: 0;
    margin: 0;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

body {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    outline: none;
    border: none;
}

.carousel-cell img,
.carousel-cell video {
    /* display: block; */
    object-fit: contain;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
}

.main-carousel {
    width: 100%;
    height: 100%;
}

.carousel-cell {
    width: 100%;
    height: 100%;
    margin-right: 10px;
}


/* position dots in carousel */

.flickity-page-dots {
    top: 0px;
    height: 10px;
}


/* dots are lines */

.flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 10px 0;
    border-radius: 0;
    background: black;
    opacity: 1;
}


/* fill-in selected dot */

.flickity-page-dots .dot.is-selected {
    background: white;
}